<div class="title-block">
    <h3 class="title">
        Страница записей <span class="sparkline bar"></span>
    </h3>
</div>
<ng-container *ngIf="isLoaded">
    <section class="section">
        <div class="row">
            <div class="col-md-6">
                <app-add-event [categories]="categories"></app-add-event>
            </div>
            <div class="col-md-6">
                <app-add-category (onCategoryAdd)="newCategoryAdded($event)"></app-add-category>
            </div>
            <div class="col-md-6">
                <app-edit-event [categories]="categories" (onCategoryEdit)="categoryWasEdited($event)"></app-edit-event>
            </div>
        </div>
    </section>
</ng-container>
